{% extends 'base.html' %}

{% block title %}
    Analytics Page
{% endblock %}

{% block content %}
<section>
    <div class="container">
                <h4>Domains</h4>
        <table class="table table-striped table-sm status-code">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Yandex counter</th>
                <th>Visits</th>
                <th>Hits</th>
                <th>views</th>
                <th>Goals</th>
            </tr>
            </thead>
            <tbody>
            {% for i in domain_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                {% if i.ssh %}
                <td>https://{{ i.domain }}</td>
                {% else %}
                <td>http://{{ i.domain }}</td>
                {% endif %}
                <td>{{ i.counter_number }}</td>
                <td>{{ i.count_visits }}</td>
                <td>{{ i.count_hits }}</td>
                <td>{{ i.count_views }}</td>
                <td>-</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}