{% extends 'base.html' %}

{% block title %}
    Analytics Page
{% endblock %}

{% block content %}
<section>
    <div class="container">
                <h4>Daily Yandex Analytics</h4>
        <table class="table table-striped table-sm status-code">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Yandex counter</th>
                <th>Visits</th>
                <th>Hits</th>
                <th>Views</th>
                <th>Goals</th>
                <th>More info*</th>
            </tr>
            </thead>
            <tbody>
            {% for i, j in data.items %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>https://{{ i }}</td>
                <td>{{ j.0 }}</td>
                <td>{{ j.1 }}</td>
                <td>{{ j.2 }}</td>
                <td>{{ j.3 }}</td>
                <td>{{ j.4 }}</td>
                <td><a target="_blank" href="https://metrika.yandex.ru/dashboard?group=day&period=week&id={{ j.0 }}">click me</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>* You'll be redirected to your yandex metrics account to see more detailed information</p>
    </div>
</section>
{% endblock %}