.idea
app/venv/
app/db.sqlite3
**/local_settings.*

.DS_Store
**/__pycache__/**

.env.dev
.env.prod
.env.dev.db
.env.prod.db

app/Documentation
/app/web_service/services/bot_config.py
/app/analytics/services/yandex_config.py
