{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="raw">
        <div class="col-10">
        <h1>Log-in</h1>
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again</p>
        {% endif %}
        </div>
        <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
            <div class="col-4">{{ form.username|as_crispy_field }}</div>
            <div class="col-4">{{ form.password|as_crispy_field }}</div>
                <input type="hidden" name="next" value="{{ next }}">
            <div class="col-4">
                <button class="btn btn-outline-primary">Log-in</button>
            </div>
        </form>
        <div class="col-8"><br>
            <a href="{% url 'password_reset' %}">Forgotten your password?</a>
        </div>
    </div>
</div>
{% endblock %}
