{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="col-8">Change you password</h1>
        <p class="col-8">Use the form below to change your password</p>

        <form action="." method="post">
            {% csrf_token %}
            <div class="col-10">{{ form|crispy }}</div>
            <dov class="col-4">
                <button class="btn btn-outline-danger">Change</button>
            </dov>
        </form>
    </div>
</div>
{% endblock %}