{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Domains
{% endblock %}

{% block content %}

<section>
    <div class="container">
        <h4>Domains</h4>
        <table class="table table-striped table-sm status-code">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>hosting</th>
                {% if perms.web_service %}
                <th>Edit</th>
                <th>Delete</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for i in domains %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                {% if i.ssh %}
                <td>https://{{ i.url }}</td>
                {% else %}
                <td>http://{{ i.url }}</td>
                {% endif %}
                <td>{{ i.hosting }}</td>
                {% if perms.web_service %}
                <td>
                    <a class="text-primary" href="{% url 'domain_edit_urls' url_ed=i.url %}">Edit</a>
                </td>
                <td>
                    <a class="text-danger" href="{% url 'domain_delete_urls' url_del=i.url %}">X</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>* Go to Dashboard to check status website</p>
    </div>
</section>

{% if perms.web_service %}
<section>
    <div class="container">
        <hr>
        <h4>Add new url</h4>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-4">{{ form.url|as_crispy_field }}</div>
                <div class="col-4">{{ form.expiration_date|as_crispy_field }}</div>
                <div class="col-4">{{ form.hosting|as_crispy_field }}</div>
                <div class="col-12 text-right">
                    <button class="btn btn-outline-success" type="submit">Save</button>
                </div>

            </div>
        </form>
    </div>
</section>
{% endif %}
{% endblock %}