{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Main Page
{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">This application for checking webmaster's services:</p>
            <ul>
                <li><a class="btn-outline-success" href="{% url 'hosting_urls' %}">Hosting</a></li>
                <li><a class="btn-outline-success" href="{% url 'domains_urls' %}">Domains</a></li>
                <li>SOON! Analytics</li>
            </ul>
            <hr class="my-4">
            <p>
                <a class="btn-outline-success" href="#" role="button">Register</a> here and LET'S ROCK!
            </p>

        </div>
    </div>
</section>

{% endblock %}