{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Main Page
{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="jumbotron">
            {% if request.user.is_authenticated %}
            <h3 class="display-4">Hello, {{ user.username }}!</h3>
            <p class="lead">Let's start here:</p>
            <ul>
                <li><a class="btn-outline-success" href="{% url 'hosting_urls' %}">Hosting</a></li>
                <li><a class="btn-outline-success" href="{% url 'domains_urls' %}">Domains</a></li>
                <li><a class="btn-outline-success" href="{% url 'dashboard_urls' %}">Dashboard</a></li>
                <li>SOON! Analytics</li>
            </ul>
            <hr class="my-4">

            {% else %}
                        <h1 class="display-4">Welcome!</h1>
            <p class="lead">This application for checking webmaster's services:</p>
            <ul>
                <li>Hosting - save info about your hosting: name, account, expiration date</li>
                <li>Domains - save info about your domains: url, hosting, status and more..</li>
                <li>Dashboard - all-in-one info on one page</li>
                <li>SOON! Analytics - yandex metric counter info</li>
            </ul>
            <hr class="my-4">
            <p>
                <a class="btn-outline-success" href="{% url 'register' %}" role="button">Register</a> here and LET'S ROCK!
            </p>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}