{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Main Page
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="text-right">
            {% for i in time %}
                <h5 class="text-danger">Attention!</h5>
                <div>http://{{ i.0 }} left in <b class="text-danger">{{ i.1 }}</b> days</div>
            {% endfor %}
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h4>Status code</h4>
        <table class="table table-striped table-sm status-code">
            <thead>
            <tr>
                <th>#</th>
                <th>Website</th>
                <th>Ya Counter</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for i in sites %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>http://{{ i.url }}</td>
                <td>{{ i.ya_counter_number }}</td>
                {% if i.status == "Success" %}
                <td class="text-success">{{ i.status }}</td>
                {% else %}
                <td class="text-danger">{{ i.status }}</td>
                {% endif %}
                <td>
                    <a class="text-danger" href="{% url 'edit_urls' url_ed=i.url %}">Edit</a>
                </td>
                <td>
                    <a class="text-danger" href="{% url 'delete_urls' url_del=i.url %}">X</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{% url 'check_sites_url' %}">
                <button class="btn btn-outline-success">
                    Check now
                </button>
            </a>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <hr>
        <h4>Add new url</h4>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-4">{{ form.url|as_crispy_field }}</div>
                <div class="col-4">{{ form.ya_counter_number|as_crispy_field }}</div>
                <div class="col-4">{{ form.expiration_date|as_crispy_field }}</div>
                <div class="col-4">
                    <button class="btn btn-outline-primary" type="submit">Save</button>
                </div>

            </div>
        </form>
    </div>
</section>

{% endblock %}